<footer class="site-footer">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <div class="wrapper">

    <div class="site-footer__info">
      <div class="site-footer__col site-footer__col--left">
        <strong>{{ site.title }}</strong>
        <span>{% if page.lang == 'pt' %}Professor Associado{% else %}{{ site.jobtitle }}{% endif %}</span>
        <a href="mailto:{{ site.email }}">{{ site.email }}</a>
      </div>
      <div class="site-footer__col site-footer__col--right">
        <span>Departamento de Economia</span>
        <span>Universidade Federal de Pelotas</span>
        <span>Rua Gomes Carneiro 1, 4º andar</span>
        <span>Pelotas, RS, Brasil 96010-610</span>
      </div>
    </div>
    <div class="site-footer__social">
      {% if site.google_scholar_id %}
      <a class="site-footer__social-link" href="https://scholar.google.com/citations?user={{ site.google_scholar_id }}">
        <i class="ai ai-google-scholar"></i> Google Scholar
      </a>
      {% endif %}

      {% if site.github_username %}
      <a class="site-footer__social-link" href="https://github.com/{{ site.github_username }}">
        <i class="fa fa-github"></i> Github
      </a>
      {% endif %}

      {% if site.orcid_id %}
      <a class="site-footer__social-link" href="https://orcid.org/{{ site.orcid_id }}">
        <i class="ai ai-orcid"></i> ORCID
      </a>
      {% endif %}

      {% if site.twitter_username %}
      <a class="site-footer__social-link" href="https://twitter.com/{{ site.twitter_username }}">
        <i class="fa fa-twitter"></i> Twitter
      </a>
      {% endif %}
    </div>
  </div>
    
</footer>
