<footer class="site-footer">

  <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">

  <div class="wrapper">

      <p style="text-align:left;">
        <strong>{{ site.title }}</strong>
        <span style="float:right;">
		  Departamento de Economia
        </span> <br />
        <span style="float:left;">
          {{ site.jobtitle }}
        </span>
        <span style="float:right;">
		  Universidade Federal de Pelotas
        </span> <br />
        <span style="float:left;">
          <a href="mailto:{{ site.email }}">{{ site.email }}</a>
        </span>
        <span style="float:right;">
		  Rua Gomes Carneiro 1, 4º andar<br />
        </span> <br />
        <span style="float:right;">
		  Pelotas, RS, Brasil 96010-610<br />
        </span>
      </p>
  </div>

  <p style="text-align:center;">
    <br />
    {% if site.google_scholar_id %}
    <a href="https://scholar.google.com/citations?user={{ site.google_scholar_id }}">
      <i class="ai ai-google-scholar" style="color:gray"></i> Google Scholar
    </a>
    &nbsp;&nbsp;
    {% endif %}
    

    {% if site.github_username %}
    <a href="https://github.com/{{ site.github_username }}">
      <i class="fa fa-github" style="color:gray"></i> Github
    </a>
    &nbsp;&nbsp;
    {% endif %}

    {% if site.orcid_id %}
    <a href="https://orcid.org/{{ site.orcid_id }}">
      <i class="ai ai-orcid" style="color:gray"></i> ORCID
    </a>
    &nbsp;&nbsp;
    {% endif %}

    {% if site.twitter_username %}
    <a href="https://twitter.com/{{ site.twitter_username }}">
      <i class="fa fa-twitter" style="color:gray"></i> Twitter
    </a>
    {% endif %}
  </p>
    
</footer>
