<header class="site-header">

  <div class="wrapper">
    <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>

    <nav class="site-nav">
      <button type="button" class="menu-icon" aria-label="Open menu" aria-expanded="false" aria-controls="site-nav-trigger">
        <span class="menu-icon__box" aria-hidden="true">
          <span class="menu-icon__line"></span>
          <span class="menu-icon__line"></span>
          <span class="menu-icon__line"></span>
        </span>
      </button>

      <div class="trigger" id="site-nav-trigger">
        <h1>Main Navigation</h1>
        {% include nav.html %}
      </div>
    </nav>
  </div>

</header>
