<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="/about">About</a></li>
	        		<li><a href="/cv">CV</a></li>
	        		<li><a href="/courses">Courses</a></li>
	        		<li><a href="/students">Students</a></li>
	        		<li><a href="/links">Links</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
			        <li>Regis A. Ely. Department of Economics, UFPel.</li>
	        		<li><a href="mailto:regisaely@gmail.com">email</a></li>
	        		<li><a href="https://github.com/regisely">code repository</a></li>
				</ul>
			</footer>
		</body>
	</html>
